<div class="relative h-screen bg-cover bg-center bg-no-repeat max-w-[100%] mx-auto" style="background-image: url('../../assets/img/fundo-rodape.png');">
    <div class="absolute inset-0 flex items-center justify-center text-white flex-col space-y-4 mt-64">
        <a href="" class="text-xl hover:underline">TERMOS E CONDIÇÕES</a>
        <a href="" class="text-xl hover:underline">POLITICA E PRIVACIDADE</a>
        <a href="" class="text-xl hover:underline">FALE CONOSCO</a>
        <p class="text-xl text-blue-400">Suporte ao cliente: 0800 7269007</p>
        <p class="text-xl text-blue-400">Segunda a Sexta: 09h às 18h</p>
    </div>
</div>
