<app-cabecalho-formulario [texto]="'Dados Pessoais'" [linkPessoal]="'ATIVOS/pessoal.png'" [pessoal]="'pessoal'" [linkExperiencia]="'INATIVO/experiencia.png'" [experiencia]="'experiencia'" [linkFormacao]="'INATIVO/formacao.png'" [formacao]="'formacao'"></app-cabecalho-formulario>

<form class="mx-10" [formGroup]="formulario">    

    <!--Nome-->
    <div class="mb-4 mt-10">
        <label for="nome" class="text-blue-950 font-bold ">*Nome:</label>
        <input type="text" id = "nome" formControlName = "nome" class="border border-blue-950 p-2 w-full rouded">

        <div class= "text-red-600" *ngIf="formulario.get('nome')?.hasError('required') && (formulario.get('nome')?.dirty || formulario.get('nome')?.touched)">
            Nome é obrigatório.
        </div>
        <div class= "text-red-600" *ngIf="formulario.get('nome')?.hasError('pattern') && (formulario.get('nome')?.dirty || formulario.get('nome')?.touched)">
            Nome deve conter apenas letras e espaços, e ter no mínimo 3 caracteres.
        </div>
    </div>

    <!--Estado Civil & Casamento-->
    <div class="flex">
        <div class="mb-4">
            <label for="estadoCivil" class="text-blue-950 font-bold ">Estado Civil:</label>
            <select type="text" id="estadoCivil" formControlName="estadoCivil" class="border border-blue-950 p-2 w-full">
                <option value="solteiro">Solteiro</option>
                <option value="casado">Casado</option>
                <option value="divorciado">Divorciado</option>
            </select>
        </div>
        <div class="mb-4 ml-28">
            <label for="dataNascimento" class="text-blue-950 font-bold ">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" formControlName="dataNascimento" class="border border-blue-950 p-2 w-full">
        </div>
    </div>

    <!--Email-->
    <div class="mb-4">
        <label for="email" class="text-blue-950 font-bold ">Email:</label>
        <input type="email" formControlName="email" class="border border-blue-950 p-2 w-full">                    
    </div>

    <!--Numero de Telefone-->
    <div class="mb-4">
        <label for="telefone" class="text-blue-950 font-bold ">Número de Telefone:</label>
        <input type="tel" formControlName="telefone" mask="(00) 00000-0000" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Endereço-->
    <div class="mt-14 mb-10 text-center">
        <hr class=" border-blue-950">
        <h1 class="text-5xl text-blue-950 mt-4">Endereço</h1>
    </div>

    <!--CEP-->
    <div class="mb-4">
        <label for="cep" class="text-blue-950 font-bold">CEP:</label>
        <input type="text" formControlName="cep" mask="00000-000" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Cidade-->
    <div class="mb-4">
        <label for="cidade" class="text-blue-950 font-bold ">Cidade:</label>
        <input type="text" formControlName="cidade" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Bairro-->
    <div class="mb-4">
        <label for="bairro" class="text-blue-950 font-bold ">Bairro:</label>
        <input type="text" formControlName="bairro" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Rua-->
    <div class="mb-4">
        <label for="rua" class="text-blue-950 font-bold ">Rua:</label>
        <input type="text" formControlName="rua" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Numero-->
    <div class="mb-4">
        <label for="numero" class="text-blue-950 font-bold ">Número:</label>
        <input type="text" formControlName="numero" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Formação-->
    <div class="mt-14 mb-10 text-center">
        <hr class=" border-blue-950">
        <h1 class="text-5xl text-blue-950 mt-4">Formação</h1>
    </div>

    <!--Situação Escolar-->
    <div class="mb-4">
        <label for="situacaoEscolar" class="text-blue-950 font-bold ">Situação Escolar:</label>
        <select formControlName="situacaoEscolar" class="border border-blue-950 p-2 w-full">
            <option value="fundamental incompleto">Ensino Fundamental Incompleto</option>
            <option value="fundamental completo">Ensino Fundamental Completo</option>
            <option value="medio incompleto">Ensino Medio Incompleto</option>
            <option value="medio completo">Ensino Medio Completo</option>
            <option value="superior incompleto">Ensino Superior Incompleto</option>
            <option value="superior completo">Ensino Superior Completo</option>
        </select>
    </div>

    <!--Nome da Instituição-->
    <div class="mb-4">
        <label for="nomeInstituicao" class="text-blue-950 font-bold ">Nome da Instituição:</label>
        <input type="text" formControlName="nomeInstituicao" class="border border-blue-950 p-2 w-full">
    </div>

    <!--Data Inicio & Data Conclusão-->
    <div class="flex">
        <div class="mb-4 mr-4">
          <label for="dataInicio" class="text-blue-950 font-bold ">Data de Início:</label>
          <input type="date" formControlName="dataInicio" class="block border border-blue-950 p-2 w-32">
        </div>
      
        <div class="mb-4 ml-10">
          <label for="dataConclusao" class="text-blue-950 font-bold">Data de Conclusão:</label>
          <input type="date" formControlName="dataConclusao" class="block border border-blue-950 p-2 w-32">
        </div>
      </div>

    <!--Botão--><!--property binding-->
    <a routerLink="/login-formulario" 
       class="bg-orange-600 text-white py-2 px-4 rounded hover:bg-blue-700"
       [class.disabled]="formulario.invalid"
       [ngStyle]="{'background-color': formulario.invalid ? 'gray' : 'orange'}"
       (click)="formulario.valid && enviarFormulario()"> Enviar </a>
    
    <!--Dados Inseridos-->
    <div *ngIf="entidade" class="mt-10 bg-gray-100 p-6 rounded-md">
        <h2 class="text-xl font-bold mb-4">Informações Cadastradas:</h2>
        <ul>
            <!--interpolation-->>
            <div class="flex">
                <li class="mb-2"><strong>Nome:</strong> {{ entidade.nome }}</li>
                <li class="mb-2 ml-5"><strong>Estado Civil:</strong> {{ entidade.estadoCivil }}</li>
                <li class="mb-2 "><strong>Data de Nascimento:</strong> {{ entidade.dataNascimento }}</li>
            </div>
            <div class="flex">
                <li class="mb-2"><strong>Email:</strong> {{ entidade.email }}</li>
                <li class="mb-2 ml-5"><strong>Telefone:</strong> {{ entidade.telefone }}</li>
            </div>
            <div class="flex">
                <li class="mb-2"><strong>CEP:</strong> {{ entidade.cep }}</li>
                <li class="mb-2 ml-5"><strong>Cidade:</strong> {{ entidade.cidade }}</li>
                <li class="mb-2 ml-5"><strong>Bairro:</strong> {{ entidade.bairro }}</li>
            </div>
            <div class="flex">
                <li class="mb-2"><strong>Rua:</strong> {{ entidade.rua }}</li>
                <li class="mb-2 ml-5"><strong>Numero:</strong> {{ entidade.numero }}</li>
            </div>
            <div class="flex">
                <li class="mb-2"><strong>Situação Escolar:</strong> {{ entidade.situacaoEscolar }}</li>
                <li class="mb-2 ml-5"><strong>Nome da Instituição:</strong> {{ entidade.nomeInstituicao }}</li>
            </div>
            <div class="flex">
                <li class="mb-2"><strong>Data Inicial:</strong> {{ entidade.dataInicial }}</li>
                <li class="mb-2 ml-5"><strong>Data para conclusão:</strong> {{ entidade.dataConclusao }}</li>
            </div>
        </ul>
    </div>
</form>

