<div *ngFor="let user of usuarios" class="mb-4 p-4 bg-gray-100 border border-gray-300 rounded">
    <p class="text-lg font-bold">{{ user.senha }} - {{ user.email }}</p>
    <div class="flex mt-2">
        <button (click)="selecionarUsuarios(user)" class="mr-2 bg-blue-500 text-white px-3 py-1 rounded">Editar</button>
        <button (click)="excluirUsuario(user.id)" class="bg-red-500 text-white px-3 py-1 rounded">Excluir</button>
    </div>
</div>

<form *ngIf="selecionarUsuario.id" (ngSubmit)="atualizarUsuario()" class="mb-4 p-4 bg-gray-100 border border-gray-300 rounded">
    <label class="block mb-2">Senha: <input [(ngModel)]="selecionarUsuario.senha" name="senha" class="border rounded px-3 py-1" /></label>
    <label class="block mb-2">Email: <input [(ngModel)]="selecionarUsuario.email" name="email" class="border rounded px-3 py-1" /></label>
    <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded">Atualizar Ususario</button>
</form>
