<!--Cabeçalho-->
<div class="flex flex-col mr-5 ml-5 sm:flex-row items-center justify-between">
    <img src="../../assets/img/logo.png" alt="LOGO" class="w-20 m-5">
    <div class="flex items-center text-base text-blue-950">
        <a href="" class="pl-16 hover:underline">MODELO</a>
        <a href="" class="pl-16 hover:underline">SOLUÇÕES</a>
        <a href="" class="pl-16 hover:underline">CONTATO</a>
    </div>
</div> 

<!--Apresentação-->
<div class="relative h-screen bg-cover bg-center bg-no-repeat"  style="background-image: url('../../assets/img/fundo-apresentacao.png')">
    <div class="max-w-full mx-auto h-full flex flex-col justify-center items-center p-4 md:p-8 lg:p-12">
        <h1 class="font-bold text-3xl md:text-5xl lg:text-6xl text-center text-blue-950">
            Desenvolva seu currículo conosco e abra as portas para <br><span class="text-orange-600">novas oportunidades profissionais!!</span>
        </h1>
    </div>
</div>


<!--Botão-->
<div class="flex items-center justify-center mx-auto mt-5 mb-10">
    <app-botao-logar [textoBotao]="'Clique para Logar'" (botaoClicado)="alerta()"></app-botao-logar>
</div>

<!--Modelo-->
<div class="text-center">
    <h1 class="text-3xl text-blue-950 mb-6">MODELOS</h1>
    <div class="flex flex-col items-center justify-center">
        <img class="mb-4 md:mb-0" src="../../assets/img/modelo1.png" alt="MODELO1">
        <img class="mt-4 md:ml-4" src="../../assets/img/modelo2.png" alt="MODELO2">
    </div>
</div>


<!--Soluções-->
<h1 class="mt-10 text-center text-3xl md:text-4xl lg:text-5xl text-blue-950">SOLUÇÕES</h1>
<div class="mt-10 flex flex-col md:flex-row items-center justify-center mx-auto text-blue-950">
    <div class="mb-8 md:mb-0 md:mr-8 text-center">
        <img class="mx-auto mb-4 md:mb-0" src="../../assets/img/SOLUCOES/solucao1.png" alt="SOLUCAO1">
        <h1 class="text-center font-bold">Modelos Flexíveis e Distintos</h1>
        <p class="text-justify ml-5 mr-5">Nossos modelos permitem escolher entre uma variedade de designs únicos, garantindo que seu currículo seja memorável e relevante para a vaga.</p>
    </div>
    <div class="mb-8 md:mb-0 md:mx-8 text-center">
        <img class="mx-auto mb-4 md:mb-0" src="../../assets/img/SOLUCOES/solucao2.png" alt="SOLUCAO2">
        <h1 class="text-center font-bold">Personalização Avançada</h1>
        <p class="text-justify ml-5 mr-5">Você pode ajustar cada seção do seu currículo para se adequar às suas experiências e objetivos específicos, criando um documento que se destaque no mercado.</p>
    </div>
    <div class="text-center">
        <img class="mx-auto mb-4 md:mb-0" src="../../assets/img/SOLUCOES/solucao3.png" alt="SOLUCAO3">
        <h1 class="text-center font-bold">Incorporação Visual</h1>
        <p class="text-justify ml-5 mr-5">Nosso gerador permite a adição de elementos visuais, permitindo que suas conquistas e habilidades sejam apresentadas de forma impactante e atraente.</p>
    </div>
</div>


<!--Botao-->
<div class="flex items-center justify-center mx-auto mt-10 mb-10">
    <app-botao-logar [textoBotao]="'Monte seu curriculo aqui'"></app-botao-logar>
</div>

<!--Rodapé-->
<div class="relative h-screen bg-cover bg-center bg-no-repeat max-w-[100%] mx-auto" style="background-image: url('../../assets/img/fundo-rodape.png');">
    <div class="absolute inset-0 flex items-center justify-center text-white flex-col space-y-4 mt-64">
        <a href="" class="text-xl hover:underline">TERMOS E CONDIÇÕES</a>
        <a href="" class="text-xl hover:underline">POLITICA E PRIVACIDADE</a>
        <a href="" class="text-xl hover:underline">FALE CONOSCO</a>
        <p class="text-xl text-blue-400">Suporte ao cliente: 0800 7269007</p>
        <p class="text-xl text-blue-400">Segunda a Sexta: 09h às 18h</p>
    </div>
</div>


