<div class="relative h-screen bg-cover bg-center bg-no-repeat max-w-[100%] mx-auto" style="background-image: url('../../assets/img/fundo-apresentacao.png'); display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="font-bold text-5xl text-center text-blue-950">
        Desenvolva seu currículo conosco e abra as portas para <br><span class="text-orange-600">novas oportunidades profissionais!!</span>
    </h1>
</div>
<div class="flex items-center justify-center mx-auto mt-5 mb-10">
    <app-botao-logar [textoBotao]="'Clique para Logar'"></app-botao-logar>
</div>
<div class="text-center">
    <h1 class="text-3xl text-blue-950">MODELOS</h1>
    <div class="flex items-center justify-center h-screen">
        <img src="../../assets/img/modelo1.png" alt="MODELO1">
        <img class="ml-20" src="../../assets/img/modelo2.png" alt="MODELO2">
    </div>
</div>
<h1 class="mt-10 text-center text-3xl text-blue-950">SOLUÇÕES</h1>
<div class="mt-10 flex items-center justify-center mx-auto text-blue-950">
    <div class="ml-20 text-center">
        <img class="mx-auto" src="../../assets/img/SOLUCOES/solucao1.png" alt="SOLUCAO1">
        <h1 class="text-center font-bold">Modelos Flexíveis e Distintos</h1>
        <p class="text-justify">Nossos modelos permitem escolher entre uma variedade de designs únicos, garantindo que seu currículo seja memorável e relevante para a vaga.</p>
    </div>
    <div class="ml-20 mr-20 text-center">
        <img class="mx-auto" src="../../assets/img/SOLUCOES/solucao2.png" alt="SOLUCAO2">
        <h1 class="text-center font-bold">Personalização Avançada</h1>
        <p class="text-justify">Você pode ajustar cada seção do seu currículo para se adequar às suas experiências e objetivos específicos, criando um documento que se destaque no mercado.</p>
    </div>
    <div class="mr-20 text-center">
        <img class="mx-auto" src="../../assets/img/SOLUCOES/solucao3.png" alt="SOLUCAO3">
        <h1 class="text-center font-bold ">Incorporação Visual</h1>
        <p class="text-justify">Nosso gerador permite a adição de elementos visuais, permitindo que suas conquistas e habilidades sejam apresentadas de forma impactante e atraente.</p>
    </div>
</div>
<div class="flex items-center justify-center mx-auto mt-10 mb-10">
    <app-botao-logar [textoBotao]="'Monte seu curriculo aqui'"></app-botao-logar>
</div>


